{% extends "base.html" %}

{% block title %}My Profile | Study Buddy{% endblock %}

{% block content %}
<div class="header">
    <h3>My Profile</h3>
</div>

<div class="card profile-card">
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <p><strong>Program:</strong> {{ user.study }}</p>
    <p><strong>Faculty:</strong> {{ user.faculty }}</p>
    <p><strong>Graduation Year:</strong> {{ user.grad_year }}</p>

    </div>
{% endblock %}